/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik Mono One', sans-serif;
}


/* UTILITIES */

.textyellow {
    color: #FFFF00;
}

.textgreen {
    color: #008000;
}

/* NAVIGATION */

nav ul {
    position: absolute;
    right: 50px;
}

nav ul li {
    display: inline-block;
    margin: 40px 50px 0 50px;
}

nav ul li a {
    position: absolute;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    z-index: 1;
    box-shadow: 5px 5px 10px #666;
}

nav ul li a:hover {
    transform: scale(1.2);
}

/* MAIN */

main > * {
    height: 100vh;
    width: 100%;
}

#page1 {
    background-color: #F00;
    position: relative;
}

#page2 {
    background-color: #008000;
    position: relative;
} 

#page3 {
    background-color: #FFFF00;
    position: relative;
}

.shoe {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 10px #666);
}

.shoe h1 {
    font-size: 50px;
    position: absolute;
    bottom: 80px;
    text-align: center;
}

.vans{
    background-image: url(../img/vans.png);
}

.tommy {
    background-image: url(../img/tommy.png);
}

.converse {
    background-image: url(../img/converse.png);
}