/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik Mono One', sans-serif;
}


/* UTILITIES */

/* NAVIGATION */

/* MAIN */

main .shoe {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    display: inline-block;
}
.vans {
    background-image: url(../img/vans.png);
}

.tommy {
    background-image: url(../img/tommy.png);
}

.converse {
    background-image: url(../img/converse.png);
}

nav {
    position: relative;
}

ul {
    position: absolute;
}