/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Rubik Mono One', sans-serif;
}


/* UTILITIES */

/* NAVIGATION */

ul {
    position: absolute;
    right: 50px;
}

li {
    display: inline-block;
}

a {
    position: fixed;
}

/* MAIN */

main > * {
    height: 100vh;
    width: 100%;
}

.title {
    display: inline-block;
}

.shoe {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.vans{
    background-image: url(../img/vans.png);
}

.tommy {
    background-image: url(../img/tommy.png);
}

.converse {
    background-image: url(../img/converse.png);
}