/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Rubik Mono One', sans-serif;
}


/* UTILITIES */

.textyellow {
    color: #FFFF00;
}

.textgreen {
    color: #008000;
}

/* NAVIGATION */

nav ul {
    position: absolute;
    right: 50px;
}

nav ul li {
    display: inline-block;
    margin: 40px 50px 0 50px;
}

nav ul li a {
    position: fixed;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

nav ul li a:hover {
    transform: scale(1.2);
}

/* MAIN */

main > * {
    height: 100vh;
    width: 100%;
}

#page1 {
    background-color: #F00;
}

#page2 {
    background-color: #008000;
} 

#page3 {
    background-color: #FFFF00;
}

.title {
    display: inline-block;
}

.shoe {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.vans{
    background-image: url(../img/vans.png);
}

.tommy {
    background-image: url(../img/tommy.png);
}

.converse {
    background-image: url(../img/converse.png);
}